<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
            <table>
            
              <tr>
              
               <th>User Name :</th>
               <th>Email :</th> 
              </tr>
              
              
              <tr>
                   
                    <td>
                       <h2 th:text="${e.name}"></h2>
                    </td>
                    
                    <td>
                      <h2 th:text="${e.email}"></h2>
                    </td>
                    
                    
                    
                    
                    
              </tr>
              
            
            
            </table>
                   
</body>
</html>